torch
torchvision
torchaudio
pytorch-lightning
wandb
albumentations
pytorch-lightning-bolts
jupyter
jupyterlab
notebook
matplotlib
pandas
seaborn
scikit-learn
tqdm
opencv-python
opencv-python-headless
scikit-image
tensorboard
tensorboardX
websockets
uvicorn
fastapi
pydantic
python-multipart
aiofiles
aiohttp
aiohttp-cors
aiohttp-swagger3
tensorflow[and-cuda]
tensorflow_datasets
tensorflow_addons
tensorflow_hub
tensorflow_text
tensorflow_io
sentencepiece
datasets
datasets[audio]
roboflow
ffmpeg-python
gradio
streamlit
yt-dlp
accelerate
optimum
black
black[jupyter]
pymongo
python-dotenv